<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>244878472296-havrv35ho4tbl4b3qbmrbun1rt5c1am3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.244878472296-havrv35ho4tbl4b3qbmrbun1rt5c1am3</string>
	<key>API_KEY</key>
	<string>AIzaSyAkCJCFu9w_zriWNbV4eJXkN6P9RrCa__8</string>
	<key>GCM_SENDER_ID</key>
	<string>244878472296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.omercelikel.sensorApp</string>
	<key>PROJECT_ID</key>
	<string>sensorapp-1c933</string>
	<key>STORAGE_BUCKET</key>
	<string>sensorapp-1c933.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:244878472296:ios:63796139301dab9518f7dd</string>
</dict>
</plist>